@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  
  padding-top:100px;
  background-image: linear-gradient(to left top, #020000, #180b0a, #491615, #6b1c17, #8c2315);
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  color: #e0e0e0; 
  line-height: 1.1;
}
.glases{
  
  background:rgba(239,237,237,0.209);
box-shadow:
0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter:
blur( 10px );
-webkit-backdrop-filter:
blur( 10px );
border-radius:
10px;
}

.glases .input-effect{
  background: rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}
